body {
  font-size: .875rem;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px); /* Full height minus navbar */
}

.sidebar-card {
  flex-basis: 50%;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-size: 0.8rem; /* Smaller font size for sidebar items */
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.plot-image {
  max-height: 400px;
  width: auto;
  display: block;
  margin: 0 auto;
}
